<nav class="navbar navbar-expand-md fixed-top navbar-dark">
    <div class="container">
        {% load static %}
        <a class="navbar-brand page-scroll" href="{% url 'index' %}">
            <img class="tecnologias" style="width: 70px;height: 70px;" src="{% static 'img/icon.png' %}" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#"></span>
                    </a>
                </li>
            </ul>

            <div class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">

                    <li id="sesion" class="nav-item mx-2">
                        <a class="nav-link mx-2" href="#"></span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>