<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" style="padding: 8px;">
    <div class="container">
        {% load static %}
        <a class="navbar-brand page-scroll" style="padding: 0;margin-top:0px;" href="{% url 'index' %}"><img class="tecnologias" style="width: 70px;height: 70px;" src="{% static 'img/icon-light.png' %}" alt=""></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{% url 'store' %}">Catalogo</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{% url 'cart' %}">Finalizar compra</span></a>
                </li>
            </ul>

            <div class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">

                    <li id="sesion" class="nav-item mx-2">
                    </li>
                </ul>

                <a type="button" href="{% url 'cart' %}" class="btn btn-primary">
                    <i id="cart-icon" class="fas fa-shopping-cart"></i>
                    <p id="cart-total">{{cartItems}}</p>
                </a>
            </div>
        </div>
    </div>
</nav>


<script type="text/javascript">
    if (user == "AnonymousUser") {
        document.getElementById('sesion').innerHTML = "<a class='nav-link' href='{% url 'login' %}'>Iniciar sesion</span></a>";
    } else {
        document.getElementById('sesion').innerHTML = "<a class='nav-link' href='{% url 'logout' %}'>Cerrar sesion</span></a>";
    }
</script>