{% extends "base_store.html" %}

<!--Static files-->
{% load static %}
<!--Title-->
{% block title %} FQ - Demo - MainPage {% endblock %}

<!--Contect-->
{% block content %}

<h1 class="mt-3 font-weight-light"><i class="fas fa-store"></i>Carro de compra</h1>
<hr>

<div class="row">
    <div class="col col-12">

        <div class="card p-4 mb-2">

            <a class="btn btn-outline-secondary mr-auto mb-3" href="{% url 'store' %}"><i class="fas fa-arrow-left"></i> Seguir comprando</a>
            <h5 class="font-weight-light">Productos: {{order.cart_total_quantity}}</h5>
            <h5 class="font-weight-light">Total: CLP {{order.cart_total_price}}.-</h5>

        </div>

        <div class="card p-4">

            <div class="cart-row pt-3">
                <div style="flex:1"></div>
                <div style="flex:2"><strong>Producto</strong></div>
                <div style="flex:1"><strong>Precio</strong></div>
                <div style="flex:1"><strong>Cantidad</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
            </div>

            {% for i in items %}
            <div class="cart-row" id="card-items">
                <div style="flex:1"><img class="cart-image" src="/static/store_img/{{i.product.img}}"></div>
                <div style="flex:2">
                    <p>{{i.product.name}}</p>
                </div>
                <div style="flex:1">
                    <p>{{i.product.price}}.-</p>
                </div>
                <div style="flex:1">
                    <div class="form-inline">
                        <a id="remove" class="update-cart" data-product={{i.product.id}} data-action="remove" href="#"><i class="fas fa-minus"></i></a>
                        <p class="mb-0 mx-3">{{i.quantity}}</p>
                        <a id="add" class="update-cart" data-product={{i.product.id}} data-action="add" href="#"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div style="flex:1">
                    <p>{{i.get_total_item}}.-</p>
                </div>
            </div>
            {% endfor %}

            <hr>
            <div class="row p-4">
                <div class="col col-lg-6 col-12 ml-auto form-inline">
                    <a class="btn btn-outline-success ml-auto" href="{% url 'pay' %}">Continuar <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}